<%= form_for(@service, url: service_url( @service )) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :remote_id, "Remote ID" %><br>
    <%= f.text_field :remote_id %>
  </div>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, ["WebexchangeService", "AmionService"] %>
  </div>

	<% if f.object.slug.present? %>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
