<h1>Listing services</h1>
<p>This is the Schedules API, which interfaces with Amion and Webexchange to provide schedule data in a machine-readable format.</p>

<% if @services.size > 0 %>
	<p>To get a list of services</p>
	<code>GET <%= services_url + ".json" %></code>
	<% [@services.first].each do |service| %>
	<p>To see the raw page</p>
	<code>GET <%= service_url(service) %></code>
	<p>To see the json</p>
	<code>GET <%= service_url(service) %>.json</code>
	<p>To see the json for today only</p>
	<code>GET <%= service_url(service) %>.json?date=<%= Time.now.strftime("%Y-%m-%d") %></code>
	<% end %>
	<p>Enjoy!</p>
<% else %>
	<p>There are no services defined yet. To seed, do the following:</p>
	<code>rake webexchange:seed</code>
	<code>rake amion:seed</code>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Remote page</th>
      <th>Date range</th>
      <th>Type</th>
      <th>Updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name.html_safe, service_path( service ) + ".json" %> (<%= link_to "today's shifts", service_path(service) + ".json?date=#{ Time.now.strftime("%Y-%m-%d")}"%>)</td>
        <td><%= link_to service.remote_id, service_path(service) %></td>
        <td><%= service.date_range %></td>
        <td><%= service.type %></td>
        <td><%= time_ago_in_words service.updated_at %> ago (<%= link_to "update", fetch_service_path(service) %>)</td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service_path( service ), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
