<h1>Listing webexchanges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Service code</th>
      <th>This month</th>
      <th>Next month</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @webexchanges.each do |webexchange| %>
      <tr>
        <td><%= webexchange.name %></td>
        <td><%= webexchange.service_code %></td>
        <td><%= webexchange.this_month_as_objects %></td>
        <td><%= webexchange.next_month_as_objects %></td>
        <td><%= link_to 'Show', webexchange %></td>
        <td><%= link_to 'Edit', edit_webexchange_path(webexchange) %></td>
        <td><%= link_to 'Destroy', webexchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webexchange', new_webexchange_path %>
