<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webexchange.name %>
</p>

<p>
  <strong>Service code:</strong>
  <%= @webexchange.service_code %>
</p>

<p>
  <strong>This month:</strong>
  <%= @webexchange.this_month %>
</p>

<p>
  <strong>Next month:</strong>
  <%= @webexchange.next_month %>
</p>

<%= link_to 'Edit', edit_webexchange_path(@webexchange) %> |
<%= link_to 'Back', webexchanges_path %>
