<h1>Listing amions</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Users</th>
      <th>Rows</th>
      <th>On call</th>
      <th>All shifts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @amions.each do |amion| %>
      <tr>
        <td><%= amion.account %></td>
        <td><%= amion.users %></td>
        <td><%= amion.rows %></td>
        <td><%= amion.on_call %></td>
        <td><%= amion.all_shifts %></td>
        <td><%= link_to 'Show', amion %></td>
        <td><%= link_to 'Edit', edit_amion_path(amion) %></td>
        <td><%= link_to 'Destroy', amion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amion', new_amion_path %>
