<h1>Restricted Access</h1>
<p>Get a key and then include it in the request name</p>
<code>GET /services/allergy-clinic?key=CASE-SENSITIVE-KEY</code>

<%= form_tag "", method: "GET" do %>

<div class="field">
	<%= label_tag :key %><br />
	<%= text_field_tag :key %>
	<%= submit_tag "Sign in" %>
</div>

<% end %>